@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import '~loaders.css/src/animations/ball-scale-multiple';
@import 'settings';

$white: #ffffff;
$black: #000000;
$bright-sky-blue: #2fbcf7;

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-weight: 400;
  height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

.loading-wrapper {
  margin: 0 auto;
  margin-top: 2rem;

  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden {
    display: none;
  }
  .loader-active {
    display: block;
  }
}

.header {
  padding: 1rem;
  text-align: center;

  &__logo {
    width: 150px;
  }
}

.link {
  color: $black;
  text-decoration: none;
}

.divider {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 121px;
  height: 0.5px;
  border: solid 0.5px var $black;
}

.wrapper {
  display: flex;
  height: 768px;

  .left {
    flex: 1;
  }

  .right {
    flex: 1;
    background: $bright-sky-blue;

    @media screen and (max-width: 600px) {
      flex: 0;
      visibility: hidden;
    }
  }
}

.center {
  text-align: center;

  button {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.sign-up-form {
  margin: 0 auto;
  color: $black;

  .title {
    font-size: 20px;
    padding-top: 108px;
    letter-spacing: 3px;
    font-weight: bold;
  }

  .form-label {
    height: 15px;
    font-size: 11px;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom: 5px;
    letter-spacing: 1.65px;
    text-transform: uppercase;
  }

  .form-input {
    margin: 0 auto;
    width: 180px;
    height: 37px;
    border: solid 0.5px #060606;
    text-align: center;
  }
}

.submit {
  width: 180px;
  height: 37px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.65px;
  text-align: center;
  color: $white;
  background-color: $black;
  text-transform: uppercase;
}
